### IntelliJ IDEA ###
out/
.idea
.idea/
*.iml
*.iws
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


# SmileDK
src/algorithm/solution/smileDK/etc/
src/algorithm/solution/smileDK/Todo
src/algorithm/solution/smileDK/Memo
src/algorithm/solution/smileDK/Review
/src/algorithm/solution/smileDK/baejoon/bfs/S2178_.java
src/algorithm/solution/smileDK/programmers/toss/
Customer.ser
Customer1.ser